/* You can add custom styles here. */

// @import "plugins/numbered";

.tags-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .tags {
    margin-bottom: 0;
    flex-wrap: wrap;

    .tag.is-dark {
      margin-right: 0.5rem;
    }
  }
}