@import url('https://fonts.googleapis.com/css2?family=Microsoft+YaHei&display=swap');

body {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: larger;
}

.footer {
  font-size: medium;
}

.tag {
  font-family: 'Microsoft YaHei', sans-serif;
  font-size: medium;
}