{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        {{- partialCached "contentsearch.html" . -}}
      </div>
    </div>

    <div class="tags-container">
      <div class="tags has-addons">
        <span class="tag is-dark">模态</span>
        {{ range .Site.Taxonomies.modality }}
        <a class="tag is-info is-light" href="{{ .Page.Permalink | safeURL }}">{{ .Page.Title }}</a>
        {{ end }}
      </div>

      <div class="tags has-addons">
        <span class="tag is-dark">地区</span>
        {{ range .Site.Taxonomies.availability }}
        <a class="tag is-success is-light" href="{{ .Page.Permalink | safeURL }}">{{ .Page.Title }}</a>
        {{ end }}
      </div>

      <div class="tags has-addons">
        <span class="tag is-dark">场景</span>
        {{ range .Site.Taxonomies.scenario }}
        <a class="tag is-warning is-light" href="{{ .Page.Permalink | safeURL }}">{{ .Page.Title }}</a>
        {{ end }}
      </div>
    </div>

    {{- $postPages := where .Site.RegularPages "File.Dir" "posts/" }}
{{- $paginator := .Paginate $postPages}}
<!-- {{- $paginator := .Paginate $postPages 12}} You can fix here to temporarily change Paginate setting.-->
    <div class="columns is-centered">
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 0 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 1 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 2 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ range $index, $page := $paginator.Pages }}
          {{ if eq (mod $index 4) 3 }}{{ partial "box.html" $page }}{{ end }}
        {{ end }}
      </div>
    </div>
    <div class="column is-centered">
      {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>
{{ end }}
