{{ $baseUrl := .Site.BaseURL }}
<a class="box" href="{{ .Permalink }}" aria-label="{{ .Title }}">
  <div class="columns is-flex is-vcentered">
    <div class="column is-one-quarter">
      {{ if .Params.featured_image }}
      <figure class="is-flex image is-1by1">
        {{ with .Resources.GetMatch .Params.featured_image }}
        <img alt="{{ .Name }}" class="is-rounded" src="{{ .RelPermalink }}" />
        {{ else }}
        <img
          alt="{{ .Params.featured_image }}"
          class="is-rounded"
          src="{{ .Params.featured_image | relURL }}"
        />
        {{ end }}
      </figure>
      {{ end }}
    </div>
    <div class="column">
      <div>{{ .Title }}</div>
      {{ if .GitInfo }} {{ with .GitInfo.AuthorName }}
      <small><p class="has-text-info">{{ . }}</p></small>
      {{ end }} {{ end }}
      <span>
        {{ $rating := 0 }} {{ if and (isset .Params "rating") (le .Params.rating
        5) }} {{ $rating = .Params.rating }} {{ end }} {{ range $i := (seq
        $rating) }}
        <i class="fas fa-star has-text-warning"></i>
        {{ end }} {{ range $i := (seq (sub 5 $rating)) }}
        <i class="fas fa-star"></i>
        {{ end }}
      </span>
    </div>
  </div>
  <div class="columns is-flex">
    <div class="column" style="height: 6em;">
      {{ if .Params.description }}
      <small class="has-text-grey" style="overflow: hidden;
      display: box;
      display: -webkit-box;
      display: -ms-flexbox;
      -webkit-box-orient: vertical;
      flex-direction: column;
      -ms-flex-direction: column;
      -webkit-line-clamp: 3;
      /* 限制在3行内 */
      line-clamp: 3;
      /* 标准化支持 */">{{ .Params.description }}</small>
      {{ end }}
    </div>
  </div>
  <div class="columns is-flex">
    <div class="column" id="tag-container">
      {{ range .Params.Modality }}
      <span class="tag is-info is-light">{{ . }}</span>
      {{ end }}
      {{ range .Params.Availability }}
      <span class="tag is-success is-light">{{ . }}</span>
      {{ end }}
      {{ range .Params.Scenario }}
      <span class="tag is-warning is-light">{{ . }}</span>
      {{ end }}
      <span id="expand-tag" class="tag is-primary is-light is-hoverable" style="display: none;">...</span>
    </div>
  </div>
</a>

<style>
  .tags-container {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<script>
document.addEventListener("DOMContentLoaded", function() {
  const container = document.getElementById("tag-container");
  const expandTag = document.getElementById("expand-tag");
  const tags = container.getElementsByClassName("tag");
  
  let totalWidth = 0;
  for (let tag of tags) {
    totalWidth += tag.offsetWidth;
  }

  if (totalWidth > container.offsetWidth) {
    expandTag.style.display = "inline-block"; // 显示展开标签
  }

  expandTag.addEventListener("click", function() {
    // 展开所有标签
    container.style.whiteSpace = "normal"; // 改变样式以显示所有标签
    expandTag.style.display = "none"; // 隐藏展开标签
  });
});

</script>