<form action="/search" method="get">
    <div class="field has-addons has-addons-centered search-box dropdown">
        <div class="control">
            <input id="search-query" class="input" type="text" name="s" placeholder="输入搜索内容..." />
            <!-- <button type="submit" id="search-submit" action="/search">搜索</button> -->
            <!-- <input class="input" type="text" name="s" placeholder="输入搜索内容..."> -->
        </div>
        <div class="control">
            <button class="button is-primary" id="search-submit"  action="/search" type="submit">搜索</button>
        </div>
    </div>
</form>
<!-- <form action="/search">
    <div id="search-box">
      <input id="search-query" name="s" placeholder="输入搜索内容..." />
      <button type="submit" id="search-submit" action="/search">搜索</button>
    </div>
  </form> -->
  <!-- <div class="content-wrapper">
    <div id="content" class="content container">
      <div class="search-container">
        <form action="/search">
          <div id="search-box">
            <input id="search-query" name="s" placeholder="输入搜索内容..." />
            <button type="submit" id="search-submit" action="/search">搜索</button>
          </div>
        </form> -->