<footer class="footer is-fixed-bottom">
  <div class="content has-text-centered">
    <p style="margin-bottom: 10px;">
      南京大学 AI 通识课，网站开发 by <a href="https://github.com/NIL-zhuang"><strong>NIL-Zhuang</strong></a>
    </p>
    <p>
      <img src="/备案图标.png" alt="备案图标" style="width: 16px; vertical-align: middle;">
      <a href="https://beian.mps.gov.cn/#/query/webSearch?code=32010602012044" style="text-decoration:none;" rel="noopener" target="_blank">
        <span style="color:#939393;font-size:12px;vertical-align:middle;">苏公网安备32010602012044</span></a>
      <a href="https://beian.miit.gov.cn/" target="_blank" style="text-decoration:none;" rel="noopener">
        <span style="color:#939393;font-size:12px;vertical-align:middle;">苏ICP备2022041228号-2</span>
      </a>
    </p>
  </div>
</footer>
